.palette-color-container {
  min-height: 25%;
  display: inline-block;
  min-width: 20%;
  position: relative;
  cursor: pointer;
  transition: 1s ease;
  gap: 0;
  margin: 0;
  vertical-align: top;
  overflow: hidden;
}

.palette-colors-container {
  height: 100%;
  text-transform: uppercase;
  color: white;
  overflow: auto;
}

.palette-copy-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 30px;
  border: solid 2px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  border-radius: 5px;
  opacity: 0;
}

.palette-color-name {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  padding: 2px 4px;
  font-weight: bold;
}

.palette-color-container:hover .palette-copy-btn {
  opacity: 1;
}

.palette-copy-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 30px;
  border: solid 2px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  border-radius: 5px;
  opacity: 0;
}

.palette-color-name {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  padding: 2px 4px;
  font-weight: bold;
}

.palette-color-container:hover .palette-copy-btn {
  opacity: 1;
}

.copied-color-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: open-full-color 0.5s forwards ease-in-out;
}
@keyframes open-full-color {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.copied-color-overlay h2 {
  font-size: 6rem;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 25px 10px;
  width: 100%;
  text-align: center;
  margin: 0;
}
.copied-color-overlay span {
  font-size: 24px;
  margin-bottom: 20px;
}
